/* You can add global styles to this file, and also import other style files */
@use "../src/assets/scss/main.scss";
@use '@angular/material' as mat;
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-video.css");

///start LightBox///
.light-box {
    justify-content: start;
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  lightgallery {
    display: flex;
  }
  .lb-loader{
    display: none;
  }
  .nav.share-media-img lightgallery {
    flex-wrap: wrap;
  }

  .lb-image[hidden] {
    display: block !important;
    visibility: visible !important;
    opacity: 0.5; /* faded until loaded */
  }
  .lb-close[hidden]{
    display: block!important;
    visibility: visible!important;
    opacity: 1!important;
  }
  .lb-nav[hidden]{
    display: block!important;
    visibility: visible!important;
    opacity: 1!important;
  }
  .lb-prev[hidden]{
    display: block!important;
    visibility: visible!important;
    opacity: 1!important;
  }
  .lb-next[hidden]{
    display: block!important;
    visibility: visible!important;
    opacity: 1!important;
  }
  ///End LightBox///
  
  ///start RangeSlider/// 
  mat-slider {
    width: 100% !important;
  }
  
  .mdc-slider__value-indicator {
    transform: scale(1) !important;
  }
  
  .mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: #ed5565;
    --mdc-slider-active-track-color: #ed5565;
    --mat-mdc-slider-hover-ripple-color: #ed5565;
    --mat-mdc-slider-focus-ripple-color: #ed5565;
    --mdc-slider-focus-handle-color: #ed5565;
  }
  
  .moder-skin .mat-mdc-slider.mat-primary {
    --mdc-slider-active-track-color: #20b426;
    --mdc-slider-handle-color: #a3adc1;
    --mdc-slider-focus-handle-color: #a3adc1;
  }
  
  .sharp-skin .mat-mdc-slider.mat-primary {
    --mdc-slider-active-track-color: #ee22fa;
    --mdc-slider-handle-color: #ee22fa;
    --mdc-slider-focus-handle-color: #ee22fa;
  }
  
  .round-skin .mat-mdc-slider.mat-primary {
    --mdc-slider-active-track-color: #006cfa;
    --mdc-slider-handle-color: #006cfa;
    --mdc-slider-focus-handle-color: #006cfa;
  }
  
  .square-Skin .mat-mdc-slider.mat-primary {
    --mdc-slider-active-track-color: black;
    --mdc-slider-handle-color: black;
    --mdc-slider-focus-handle-color: black;
  }
  
  .square-Skin .mat-mdc-slider .mdc-slider__thumb-knob {
    top: -5px;
    width: 16px;
    height: 16px;
    border: 3px solid black;
    background-color: white;
    box-sizing: border-box;
    -ms-transform: rotate(45deg);
    border-radius: 0px;
    transform: rotate(45deg);
  }
  
  .sharp-skin .mat-mdc-slider .mdc-slider__thumb-knob {
    top: 10px;
    background-color: #a804b2;
    border-radius: 0px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #a804b2;
  }
  
  .moder-skin .mat-mdc-slider .mdc-slider__thumb-knob {
    top: 10px;
    position: absolute;
    display: block;
    border-radius: 0px;
    width: 6px;
    height: 11px;
    border: 1px solid #a3adc1;
    background: white;
  }
  
  .round-skin .mat-mdc-slider .mdc-slider__thumb-knob {
    top: -5px;
    width: 20px;
    height: 20px;
    border: 3px solid #006cfa;
    background-color: white;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .square-Skin.mat-mdc-slider .mdc-slider__thumb-knob {
    top: 25px;
    width: 10px;
    height: 10px;
    background-color: #a804b2;
  }
  
  .moder-skin .mat-mdc-slider.mat-primary {
    height: 2px;
    --mdc-slider-active-track-color: #20b426;
    --mdc-slider-handle-color: #a3adc1;
  }
  
  .sharp-skin .mat-mdc-slider.mat-primary {
    height: 2px;
    --mdc-slider-active-track-color: #ee22fa;
  }
  
  .round-skin .mat-mdc-slider.mat-primary {
    height: 4px;
    --mdc-slider-active-track-color: #006cfa;
  }
  
  .square-Skin .mat-mdc-slider.mat-primary {
    height: 4px;
    --mdc-slider-active-track-color: black;
  }
  .mdc-slider__track--active_fill{
    background-color: #ed5565;
  }
  ///End RangeSlider///  
  
  //Scrollbar//
  cdk-virtual-scroll-viewport .horizontal-scroll {
    overflow-y: hidden !important;
  }
  div.cdk-overlay-container {
    z-index: 10000000;
  }
  .horizontal-scroll {
    overflow-y: hidden !important;
}

.scroll-demo {
    height: 300px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}
//Scrollbar//

//Date Picker//
bs-datepicker-container .theme-green .bs-datepicker-head,
.bs-datepicker.theme-green .bs-datepicker-head {
  background-color: #1F6DB2
;
}

bs-datepicker-container .theme-green .bs-datepicker-body table td span.selected,
bs-datepicker-container .theme-green .bs-datepicker-body table td.selected span,
bs-datepicker-container
  .theme-green
  .bs-datepicker-body
  table
  td
  span[class*="select-"]:after,
bs-datepicker-container
  .theme-green
  .bs-datepicker-body
  table
  td[class*="select-"]
  span:after,
.bs-datepicker.theme-green .bs-datepicker-body table td span.selected,
.bs-datepicker.theme-green .bs-datepicker-body table td.selected span,
.bs-datepicker.theme-green
  .bs-datepicker-body
  table
  td
  span[class*="select-"]:after,
.bs-datepicker.theme-green
  .bs-datepicker-body
  table
  td[class*="select-"]
  span:after {
  background-color: #1F6DB2
;
}

.theme-green .bs-datepicker-body table td.week span {
  color: #1F6DB2
;
}
bs-daterangepicker-container{

  .bs-datepicker{
    right: 10px;
    position: absolute;
  }
}
//Start Editor//
.NgxEditor{
  border-color: #E2E8F0 !important;
}
.NgxEditor__Content {
  height: 100px;
}
//End Editor//

//Select//
mat-select.custom-mat-select .mat-mdc-select-trigger {
  border: 1px solid #E2E8F0
  ;
  color: #334155;
  line-height: 38px;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 15px;
  background: #fff;
  height: 38px;
}

.custom-mat-select.space-mat-select .mat-mdc-select-value {
  padding-left: 15px;
}
mat-select.custom-mat-select .mat-mdc-select-trigger{
  font-family: "Inter", sans-serif !important;
}
mat-option.mat-mdc-option.mdc-list-item--selected:not(
    .mdc-list-item--disabled
  ):not(.mat-mdc-option-multiple) {
  background-color: #1F6DB2;
}

mat-option.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled)
  .mdc-list-item__primary-text {
  color: #fff !important;
}
div.mat-mdc-select-panel {
  padding:0px !important;
}
mat-option.mat-mdc-option.mdc-list-item {
  min-height: 35px;
}
.mat-mdc-select-placeholder {
  color: #334155 !important;
}
mat-option.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  background-color: #1F6DB2;
  color: #fff;
}
mat-option mat-pseudo-checkbox.mat-pseudo-checkbox {
  display: none;
}
.mat-mdc-option.mdc-list-item.mat-mdc-option-active.mdc-list-item--selected {
  .mdc-list-item__primary-text{
    color: #fff;
  }
}
div.mat-mdc-select-panel {
  background-color: #fff !important;
}

.mat-mdc-option {
  padding: 6px 12px !important;
}
//Start Application//
.chat-users,.message-body{
  overflow: auto;
  scrollbar-width: none;
}
//End Application//


//rtl//
[dir=rtl] .start-50 {
  left: auto;
  right: auto !important;
}
[data-layout="rtl"]{
  .sidebar{
    direction: rtl;
  }
}
[dir=rtl] .sidebar .sidebar-menu ul
{
  direction: rtl;
}
.notification-body{
  overflow: auto;
}
:root {
  @include mat.tooltip-overrides((
    container-color: black,
    container-shape: red,
    supporting-text-color:white
  ));
}
 .mat-mdc-tooltip-surface {
  border-radius: 5px !important;
}

//End rtl//
.p-datepicker-timeonly .p-datepicker-time-picker
 {
  background-color: #ffffff;
  height: 130px;
  display: flex;
  justify-content: space-around;
}
//Dark//
[data-bs-theme=dark]{
  .service-upload{
    background-color: #212529;
  }
  .p-datepicker-timeonly .p-datepicker-time-picker
 {
  background-color: #0B0D0E;
 }
  .bs-datepicker {
    background-color: #0B0D0E;
    box-shadow: none;
    .bs-datepicker-body{
      border-color:#202A36;
    }
  }
  .ProseMirror.NgxEditor__Content{
    background-color: #212529;
  }
  .NgxEditor__MenuBar{
    background-color: #0B0D0E;
  }
  .NgxEditor{
    border-color: #202A36 !important;
    ;
  }
  .NgxEditor__MenuItem--Icon{
    svg{
      fill: #fff;
    }
  }
  .NgxEditor__MenuBar button:not(:disabled), .NgxEditor__MenuBar [role=button]:not(:disabled)
 {

    color: #fff;
  }
  mat-select.custom-mat-select .mat-mdc-select-trigger {
    background-color: #0B0D0E;
    
    border-color:#202A36;
  }
  .mat-mdc-select-placeholder{
    color: #9FACBF !important;
  }
  div.mat-mdc-select-panel {
    background-color: #0B0D0E !important;
  }
  .mat-mdc-select-min-line{
    color: #9FACBF;
  }
  :root {
    @include mat.tooltip-overrides((
      container-color: #9FACBF,
      container-shape: red,
      supporting-text-color:black
    ));
  }
}
//End Dark//

.ngxdaterange{
  width: 150px;
}
body.modal-open {
  overflow: hidden;
}
.sidebar .sidebar-menu > ul > li:first-child{
  margin-top: 0;
}

.pagination-label{
  display: flex;
      align-items: center;
      width: 100%;
}

.popover.bs-popover-auto.fade.show{
  z-index: 99;
}